.content-wrap {
    max-width: 1610px;
    width: 80%;
    margin: 0 auto;

    .content-head {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;


        .left-side-buttons {
            button {
                margin-right: 5px;
                font-weight: bold;
                padding: 5px 10px;
                border-radius: 5px;
            }

            #all {
                background: rgba(34, 197, 94, 0.5);
                color: rgb(34, 197, 94)
            }

            #all > span {
                padding: 2px 8px;
                border-radius: 15px;
                background: rgba(34, 197, 94, 1);
                color: #F7F7F7
            }
            
            #draft{
                color: #343434
            }

            #draft > span {
                padding: 2px 8px;
                border-radius: 15px;
                background: rgba(255, 166, 0, 1);
                color: #F7F7F7
            }
        }

        .left-side-buttons > button:active {
            #all {
                background: rgba(34, 197, 94, 0.5);
                color: rgb(34, 197, 94)

            }
        }

        .input-boxes {
            

            .search {
                border-radius: 5px;
                padding: 5px 10px;
                border: 1px solid;
            }
        
            .filterBy{
                margin-right: 5px;
                border-radius: 5px;
                padding: 5px 10px;
                border: 1px solid 
            }
        }

    }
}

.table-overflow {
    overflow-x: auto;
}

table{
    color: #2F3061;
    border: 1px solid gray;
    margin: 0 auto;
    table-layout: fixed;
    width: 100%;
    margin: 16px 0px 0px;
    font-size:smaller;
}

th, td {
    text-align: left;
    padding: 8px 10px;
    border-bottom: 1px solid; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pagination  {
   display: flex;
   justify-content: space-between;
   border: 1px solid;
   padding: 10px;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   margin-top: 0;

    .left {
        display: flex;
        justify-content: center;
        span {
            margin-right: 10px;

            select {
                padding: 0px 5px;
                width: 50px;
                height: 25px;
                border: 1px solid;
                border-radius: 5px;
            }
        }
    }
    .middle {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 5px;

        .backStep {
            font-size: 12px;
            color: gray;
        }

        .caretIcon {
            color: gray;
        }
        input {
            width: 50px;
            height: 25px;
            border: 1px solid;
            border-radius: 5px;
            text-align: center;
        }

        .forwardStep {
            font-size: 12px;
            color: gray;
        }
    }
}

@media screen and (max-width: 640px) {
   .pagination {
        display: flex;
        flex-direction: column;
        margin-bottom: 64px;
        div {
            padding: 5px;
        }
        .right {
            text-align: center;
        }
   }
}